@import "tailwindcss";

:root {
  --background: #FBF2EB;
  /* Branco Empregga */
  --foreground: #260A00;
  /* Marrom Empregga */
  --primary: #FF5B18;
  /* Laranja Empregga */
  --primary-dark: #DE2F04;
  --primary-light: #F38143;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --font-body: var(--font-montserrat);
  --font-title: var(--font-inter);
  /* Fallback para Aalto Sans Pro */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter), sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 91, 24, 0.2);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 91, 24, 0.5);
}